body {
  background-color: #1b1b1b;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

h1, h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(196, 196, 196);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#343434, #262626);
  background-image: -webkit-linear-gradient(#343434, #262626);
  border-radius: 50px;
  border: 4px solid #1b1b1b;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#737373, #464646);
  background-image: -webkit-linear-gradient(#737373, #464646);
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-image: linear-gradient(#343434, #262626);
  background-image: -webkit-linear-gradient(#343434, #262626);
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  z-index: 2;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

#left_section {
  display: flex;
  align-items: center;
  padding: 20px;
}
#left_section h1 {
  margin-left: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#header_tools {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 1rem;
}
#header_tools label {
  flex-shrink: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: rgb(196, 196, 196);
  transition: color 0.2s;
}
#header_tools label:hover {
  cursor: pointer;
  color: rgb(152, 152, 152);
}
#header_tools #search_area {
  flex-grow: 1;
  margin-right: 1rem;
}
#header_tools #album_search_bar {
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: rgb(26, 26, 26);
  width: 100%;
  height: 50px;
  min-width: 60px;
  padding: 0px 20px 0px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgb(196, 196, 196);
}

#link_to_repo {
  filter: grayscale(100%);
  filter: brightness(80%);
  transition: filter 0.2s;
}

#link_to_repo:hover {
  cursor: pointer;
  filter: brightness(100%);
}

#footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#343434, #262626);
  background-image: -webkit-linear-gradient(#343434, #262626);
  position: fixed;
  width: 100%;
  height: 120px;
  left: 0px;
  bottom: 0px;
  z-index: 2;
}
#footer .song_length_slider {
  position: absolute;
  width: 100%;
  height: 3px;
  top: -3px;
  background: #656565;
  accent-color: #656565;
  transition: height 0.2s;
}
#footer .song_length_slider:hover {
  height: 6px;
  cursor: pointer;
}

#song_name_and_tools {
  text-align: center;
}

#song_name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 0px;
}

#song_tools {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
#song_tools button {
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(#e0e0e0, #939393);
  background-image: -webkit-linear-gradient(#e0e0e0, #939393);
  width: 40px;
  height: 40px;
}
#song_tools button img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  filter: brightness(20%);
}
#song_tools button:hover {
  cursor: pointer;
  background-image: linear-gradient(#bbbbbb, #808080);
  background-image: -webkit-linear-gradient(#bbbbbb, #808080);
}
#song_tools #shuffle_btn, #song_tools #loop_btn {
  opacity: 0.4;
}
#song_tools #play_song_btn {
  width: 50px;
  height: 50px;
}

#album_grid_section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(196, 196, 196);
  font-weight: bold;
  padding: 100px 20px 100px 20px;
  gap: 4rem;
  justify-items: center;
}
#album_grid_section .grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
#album_grid_section .grid_item input {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  transition: filter 0.2s;
}
#album_grid_section .grid_item input:hover {
  cursor: pointer;
  filter: blur(4px) brightness(65%);
}
#album_grid_section .grid_item input:hover + h3 {
  opacity: 1;
}
#album_grid_section .grid_item h3 {
  position: absolute;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  width: 250px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
  padding: 0px 10px 0px 10px;
}

@media screen and (max-width: 1255px) {
  #album_grid_section {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 940px) {
  #album_grid_section {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 630px) {
  #album_grid_section {
    grid-template-columns: auto;
  }
  #link_to_repo {
    display: none;
  }
}
.album_modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.album_modal_content {
  background-image: linear-gradient(#2b2b2b, #1a1a1a);
  background-image: -webkit-linear-gradient(#2b2b2b, #1a1a1a);
  border-radius: 25px;
  width: 550px;
  min-height: 325px;
  padding: 20px;
}
.album_modal_content img {
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
.album_modal_content .top_section {
  display: flex;
  gap: 2rem;
}
.album_modal_content .top_section h1, .album_modal_content .top_section h3 {
  word-wrap: break-word;
}
.album_modal_content .bottom_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
}
.album_modal_content .bottom_section button, .album_modal_content .bottom_section label {
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: none;
  background-image: linear-gradient(#e0e0e0, #939393);
  background-image: -webkit-linear-gradient(#e0e0e0, #939393);
}
.album_modal_content .bottom_section button:hover, .album_modal_content .bottom_section label:hover {
  cursor: pointer;
  background-image: linear-gradient(#a5a5a5, #606060);
  background-image: -webkit-linear-gradient(#a5a5a5, #606060);
}
.album_modal_content .bottom_section label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.2s;
}

@-webkit-keyframes fade_in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes shift_up {
  0% {
    transform: translate(0%, 10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes shift_up {
  0% {
    transform: translate(0%, 10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}/*# sourceMappingURL=style.css.map */